.embed {
    position: relative;
    background: url("/img/loading.gif") center center no-repeat;
    background-size: 10%;
}

.r4to3 > .embed {
    padding-bottom: 75%;
}

.r16to9 > .embed {
    padding-bottom: 56.25%;
}

.rA4 > .embed {
    padding-bottom: 141%;
}

.embed > iframe,
.embed > img,
.embed > canvas {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed > img {
    object-fit: contain;
}

.embed_wrapper {
    padding: 15px 0;
}

@media (min-width: 768px) {
    .embed_wrapper {
        padding: 20px 10%;
    }

    .embed_wrapper.rA4 {
        padding: 20px 15%;
    }

    .preset .embed_wrapper {
        padding: 0 25%;
    }
}

.pdf .embed,
.preset .embed {
    border: 2px solid #6aae7a;
}

.paginator {
    margin: 0;
    padding-top: 2px;
}
