{{ $document := printf "%s%s" .Page.Permalink (index .Params 0) }}
{{ $url := "//docs.google.com/viewer?url=%s&embedded=true" }}
{{ $presentation := "" }}
{{ range $ext := (slice "ppt" "pptx") }}
    {{ if strings.HasSuffix $document $ext}}
        {{ $url = "//view.officeapps.live.com/op/embed.aspx?lang=uk&src=%s" }}
        {{ $presentation = "presentation" }}
    {{ end }}
{{ end }}

{{ $isImage := false }}
{{ range $ext := (slice "png" "jpg" "jpeg") }}
    {{ if strings.HasSuffix $document $ext}}
        {{ $isImage = true }}
    {{ end }}
{{ end }}

<div class="embed_wrapper {{ index .Params 1 }} {{ $presentation }} ">
    <div class="embed">
        {{ if $isImage }}
            <img src="{{ index .Params 0 }}" alt=""></img>
        {{ else }}
            <iframe src="{{ printf $url $document }}" loading="lazy" allowfullscreen frameborder="0"></iframe>
        {{ end }}
    </div>
</div>